/* GLOBAL */
.welcome-container {
    padding: 0;
    font-family: Arial, sans-serif;
    color: black;
    background: #f4f5f7;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ============================= */
/* HEADER */
/* ============================= */
/* HEADER */
        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 97%;
          padding: 20px;
          flex-wrap: nowrap;
          color: #dcdcdc;
        }
        .header-title{
          display: flex;
          align-items: center;
          gap: 10px;
          width: 70%;
          justify-content: space-between;
          color: #1F2937;
        }
        /* LEFT TITLE */
        .title h1 {
          font-size: 22px;
          margin: 0;
          
        }
        .title p {
          font-size: 14px;
          margin: 5px 0 0;
        }

        /* RIGHT BUTTON GROUP */
        .btns {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 12px;
          flex-wrap: nowrap;   /* Prevent wrapping */
        }

        /* THEME ICON */
        .theme-toggle {
          cursor: pointer;
          display: flex;
          align-items: center;
        }

        /* BUTTONS */
        .register-btn,
        .login-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;

          width: 120px;      /* Fixed width */
          height: 40px;      /* Fixed height */

          padding: 0;
          border: none;
          border-radius: 8px;

          font-size: 14px;
          font-weight: 500;

          cursor: pointer;
          white-space: nowrap; /* Prevent wrapping */
          transition: 0.3s ease;
        }

        .register-btn {
          background: #4a78ff;
          color: white;
        }

        .login-btn {
          background: #28a745;
          color: white;
        }

        .register-btn:hover,
        .login-btn:hover {
          opacity: 0.9;
        }

        /* RESPONSIVE */
        @media (max-width: 600px) {
          .header-title {
            flex-direction: column;
            align-items: center;
            gap: 5px;
          }
          .title h1 {
            font-size: 18px;
            /* color: white; */
          }
          .title p {
            font-size: 12px;
          }

          .register-btn,
          .login-btn {
            width: 65px;
            height: 36px;
            font-size: 13px;
          }
        }
        
/* ============================= */
/* MAIN SECTION */
/* ============================= */

.main-section {
    display: flex;
    gap: 20px;
    padding: 15px;
}

/* ============================= */
/* NOTIFICATION TAB */
/* ============================= */

.not-title {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    color: #1F2937;
}

.notification-tab {
    width: 250px;
    height: 300px;
    border-radius: 8px;
    /* background: #fefefe; */
    background:#c3989829;;
    padding: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

/* scroll area */
.notification-list-wrapper {
    height: 240px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    padding-right: 10px;
}

.notification-list {
    position: absolute;
    animation: scrollUp 10s linear infinite;
}
.admin-lgn-btn{
  background: #ff5733;
  width: 120px;
  padding: 12px;
  /* background: #4A90E2; */
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.25s;
}

.notification-list li {
    /* background: #ffffff; */
    background: #ffffff17;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-left: 4px solid #007bff;
    border-radius: 6px;
    list-style-position: inside;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

/* ANIMATION */
@keyframes scrollUp {
    0% { top: 100%; }
    100% { top: -100%; }
}

/* ============================= */
/* RIGHT CONTENT BOX */
/* ============================= */

.content {
    flex: 1;
    /* background: #ffffff; */
    background-color: #c3989829;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

/* ============================= */
/* FOOTER */
/* ============================= */
footer {
  background: #2f2f2f;
  padding: 0px 35px;
  border-top: 1px solid #dcdcdc;
  color: aliceblue;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.social-icons a {
  font-size: 22px;
  margin-right: 12px;
  color: aliceblue;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #007bff;
}
/* Parent container */
.stats-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 20px;
  flex-wrap: wrap; /* Makes it responsive */
}

/* Each card */
.stat-card {
  background: #ffffff;
  padding: 20px 25px;
  width: 230px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s ease-in-out;
}

/* Hover effect */
.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

/* Heading */
.stat-card h3 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #333;
}

/* Number */
.stat-card p {
  margin: 0;
  font-size: 26px;
  font-weight: bold;
  color: #4A90E2;
}

/* Quote */
.quote {
  text-align: center;
  margin: 30px 0;
  font-size: 16px;
  font-style: italic;
  color: #444;
}

/* 🔥 RESPONSIVE BREAKPOINTS */

/* Tablets */
@media (max-width: 900px) {
  .stat-card {
    width: 200px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .stats-section {
    flex-direction: column;
    gap: 20px;
  }

  .stat-card {
    width: 90%;
  }

  .quote {
    font-size: 14px;
    padding: 0 20px;
  }
}


/* ============================= */
/* RESPONSIVE BREAKPOINTS */
/* ============================= */

/* 1️⃣ Tablets and smaller screens */
@media (max-width: 992px) {
    .main-section {
        flex-direction: column;
    }

    .notification-tab {
        width: 100%;
    }
}

/*  Mobile devices */
@media (max-width: 768px) {
    .header {
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }

    .title {
        max-width: 100%;
        /* display: flex; */
    }

    .btns {
        justify-content: center;
        width: 100%;
    }

    .notification-tab {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}

/* 3️⃣ Small mobiles */
@media (max-width: 480px) {
    .title h1 {
        font-size: 20px;
    }

    .register-btn,
    .login-btn {
        font-size: 12px;
        padding: 8px 14px;
    }

    .notification-tab {
        height: 250px;
    }

    .notification-list-wrapper {
        height: 200px;
    }
}


/* USER DASHBOARD CSS */
.user-dashboard {
  display: flex;
  min-height: 90vh;
  /* background: #f8f9fa; */
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #2f2f2f;
  padding: 20px;
  border-right: 2px solid #eee;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

.sidebar-title {
  font-size: 20px;
  margin-bottom: 15px;
  color: #9ca6b0;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px 15px;
  margin-bottom: 8px;
  background: #606063;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
}

.sidebar ul li:hover {
  background: #007bff;
  color: #fff;
  transform: translateX(5px);
}

/* RIGHT CONTENT AREA */
.dashboard-content {
  flex: 1;
  padding: 25px;
  background: #2f2f2f;
  margin-left: 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .user-dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    text-align: center;
    border-right: none;
    border-bottom: 2px solid #eee;
  }

  .dashboard-content {
    margin-left: 0;
    margin-top: 10px;
  }
}


/* ADD USER FORM CSS */
.add-user-form {
  max-width: 500px;
  margin: 0 auto;
  background: #4a4242;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  text-align: left;
  justify-content: space-between;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
}
.add-user-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}
.add-user-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  color: #ddd;
}
.add-user-form input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ebebf2;
  border-radius: 4px;
  font-size: 14px;
}
.add-user-form button {
  width: 94%;
  padding: 12px;
  background: #1382f9;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* REGISTER USER FORM CSS */ 
/* Container */
.register-container {
  min-height: 100vh;
  /* background: #2f2f2f; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Card / Wrapper */
.register-box {
  background: #fff;
  padding: 30px;
  width: 100%;
  max-width: 480px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.12);
  border: 1px solid #e6e6e6;
}

/* Title */
.register-box h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: #2f2f2f;
  font-weight: bold;
}

/* Form grid */
.register-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

/* Inputs */
.register-input,
.register-select {
  width: 100%;
  padding: 12px 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  background: #2f2f2f;
  border-radius: 10px;
  transition: 0.2s ease;
}

.register-input:focus,
.register-select:focus {
  border-color: #0039e4;
  outline: none;
  box-shadow: 2px 2px 4px rgba(2, 61, 240, 0.4);
}

/* Icons container */
.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 12px;
  /* background:#2f2f2f; */
}

.input-group input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 16px;
}

/* Submit Button */
.register-btn {
  width: 100%;
  padding: 12px;
  background: #7B8BA1;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.25s;
}

.register-btn:hover {
  background: #3d66d9;
}

/* Responsive Layout */
@media (min-width: 600px) {
  .register-form {
    grid-template-columns: 1fr 1fr;
  }

  /* Full width fields */
  .full {
    grid-column: span 2;
  }
}

/* ================================ */
/* LOGIN CSS */
/* ================================ */
/* Outer container */
.login-container {
  min-height: 100vh;
  /* background: #f2f2f2; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Login Card */
.login-box {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 35px;
  border-radius: 66px 66px 66px 1px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
  border: 1px solid #e6e6e6;
}

.login-box h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
  color: #333;
}

/* Form Layout */
.login-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}

/* Input Group */
.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background: #2f2f3f;
  border-radius: 10px;
  padding-left: 12px;
  transition: border-color 0.3s ease;
}

/* Input */
.input-group input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 16px;
}

/* Icon */
.input-icon {
  font-size: 18px;
  color: #f0eded;
  margin-right: 10px;
}

/* Focus border effect */
.input-group:focus-within {
  border-color: #4a78ff;
  box-shadow: 0 0 6px rgba(74, 120, 255, 0.35);
}

/* Login Button */
.btn-row {
  display: flex;
  justify-content: flex-end; /* button goes to the right */
  width: 100%;
}

.login-btn {
  width: 120px;
  padding: 12px;
  background: #4A90E2;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.25s;
}

.login-btn:hover {
  background: #3e67d9;
}

/* Responsive */
@media (max-width: 480px) {
  .login-box {
    padding: 25px;
    max-width: 200px;
  }

  .login-box h2 {
    font-size: 24px;
  }
  

  .input-group input {
    font-size: 15px;
  }
}
.login-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px;
}

/* Center the title */
.login-title h2 {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 26px;
}

/* Links */
.admin-link {
  text-decoration: none;
  color: #4a78ff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px;
}

.admin-link:hover {
  color: #315cff;
  text-decoration: underline;
}

/* ---------- RESPONSIVE BREAKPOINTS ---------- */

/* Tablets */
@media (max-width: 768px) {
  .login-title h2 {
    font-size: 22px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .login-title {
    flex-direction: column;
    gap: 8px;
  }

  .login-title h2 {
    font-size: 20px;
  }

  .admin-link {
    font-size: 14px;
  }
}

.home-link {
  text-decoration: none;
  color: #4a78ff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.home-link:hover {
  text-decoration: underline;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background: #423c3c;
  font-weight: bold;
  border: 3px solid #000000;
  color: #f4f2f2;
  /* border: #2f2f3f; */
}



table tr:hover {
  background: #2f2c2c;
  color: rgb(255, 255, 255);
}
.top {
  display: flex;
  color: rgb(246, 244, 241);
  align-items: center;
  justify-content: space-between; /* centers the title */
  position: relative;       /* lets search bar float right */
  margin-bottom: 20px;
}

/* Centered title */
.top h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

/* Search bar on the RIGHT */
.search-bar {
  position: absolute;
  right: 0;                /* moves search bar to the right side */
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 250px;            /* adjust width if needed */
}

/* Responsive */
@media (max-width: 600px) {
  .top {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .search-bar {
    position: static;   /* remove absolute */
    width: 30%;        /* full width on mobile */
    margin-top: 10px;
  }

  .top h2 {
    text-align: center;
  }
}
.sec-top{
      display: flex;
    width: 100%;
    justify-content: space-between;
}
.logout-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  /* background: #f8f9fa; */
}

.logout-btn {
  background: #ff4d4d;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #d93636;
}
.user-btn{
  background: #50535d;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
}
.user-btn:hover {
  background: #206ae1;
}